{% include 'header.twig' %}

<div class="inner-page">
      <section>
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="card order-dashboard for-ticket">
              <a href="#" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fab fa-whatsapp"></i>
                </span>
                <span class="content-box">
                  <span class="title">Whatsapp</span>
                  <span class="numbers">{{ settings['whatsapp'] }}</span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg">
            <div class="card order-dashboard for-skype">
              <a href="/tickets" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fa fa-comments"></i>
                </span>
                <span class="content-box">
                  <span class="title">Create Support Request</span>
                  <span class="numbers">Support Request</span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg">
            <div class="card order-dashboard for-email">
              <a href="#" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="content-box">
                  <span class="title">Email</span>
                  <span class="numbers">Email Sender</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="card bg-white">
          <div class="card-header">
            <div class="card-title">
              <i class="fa fa-comments"></i> Frequently Asked Questions
            </div>
          </div>
          <div class="card-body ">
            <div class="accordion faq-panels">
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq1" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What is Auto Like Unlimited Category? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq1" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"></p><center><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Auto Credit Credit; </font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It is automatic sending of likes to the account that is defined without the need for panel usage. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The same rules apply for both likes and views.
</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">By placing a single order, the Automatic Transactions menu will be active in the menu above. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sending according to the total mail you entered and optional date. </font></font><br> 
<br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If you activate both likes and watching services. </font><font style="vertical-align: inherit;">It sends only likes when you take a photo, and both likes and views when you post a video. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The advantage of automatic services is that there is no time limit.
</font></font><br>
<b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To be able to define automatic likes; </font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select the category of Automatic Like or Watch UNLIMITED;
</font></font><img src="https://i.hizliresim.com/EP2pPA.png" class="img-
 responsive" style="display: inline-block; width: 680px; max-width: 100%; " alt="KM-1">
<br>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the Username section, you will enter your account's username without @.</font></font></li>
<br>
<br>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"How many posts to share?" </font><font style="vertical-align: inherit;">In the box, write how many posts you will share in the future, if you want this action.</font></font></li>
<br>
<br>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the "Quantity" Boxes, type how many likes &amp; views you want sent. </font><font style="vertical-align: inherit;">For example: If you enter Min 1000 and maximum 2000, the system automatically determines a number between these numbers and sends accordingly and charges a fee on the randomly determined number. </font><font style="vertical-align: inherit;">If you do not want to set random numbers, you should enter the same number in the minimum and maximum amount if you want the same number of likes to be sent continuously.</font></font></li>
<br>
<br>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the "Delay" Box, you must specify it if you want this system to be active within minutes of throwing the post. </font><font style="vertical-align: inherit;">If you select the "No Delay" section, it starts the service as soon as you throw the post. </font><font style="vertical-align: inherit;">(Except System Control Time)</font></font></li>
<br>
<br>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"End Date" This is optional. If you write 50 in the number of posts to go and say 1 month later in the date, the service will stop automatically when 1 month expires and does not wait for the amount of sharing. </font><font style="vertical-align: inherit;">The choice is optional.</font></font></li>
<br>
<br>
<p></p>         
</center><p></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq2" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Why was my order canceled? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq2" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 
There are certain reasons for your order to be canceled;
</font></font><br>
<br></p><li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> If your profile is confidential, your order will be canceled, please check privacy.</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> In some services, you are asked to enter only a user name instead of a link.</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> When you receive the maximum shipping amount of the services, if you place an order for the second time, your order will be canceled.</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> If your orders do not have these situations and 24 hours have passed, please contact us at the support section.</font></font></li>
<br><p></p><p></p><p></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq3" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">How Do I Load Balance? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq3" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"></p><p> 
</p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">There is a single balance loading method on the system. </font><font style="vertical-align: inherit;">With the </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayTR</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> infrastructure </font><font style="vertical-align: inherit;">integrated into the system, you </font><font style="vertical-align: inherit;">can automatically load the balance 24/7. </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">You</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> have two different options with </font><strong><font style="vertical-align: inherit;">PayTR</font></strong><font style="vertical-align: inherit;"> . </font><font style="vertical-align: inherit;">The first one is to automatically load by credit card, the second is to be loaded by wire transfer method. </font><font style="vertical-align: inherit;">If </font><font style="vertical-align: inherit;">you want to make a payment via </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayTR</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> via </font><font style="vertical-align: inherit;">wire transfer method, </font><font style="vertical-align: inherit;">you must send the money order notification after </font><font style="vertical-align: inherit;">sending the money order transfer to </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayTR</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> accounts. </font><font style="vertical-align: inherit;">This doesn't take too long. </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayTR</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> method is a much faster and easier method, your balance uploads are automatically approved and you can start shopping immediately. </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parts are parts</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payments you make with 3D Secure system are protected and encrypted. Your bank will send you an SMS and receive SMS confirmation for every transaction you make with a credit card. </font><font style="vertical-align: inherit;">In our panel, 3D Secure System can never hold or keep any card information or personal information. </font><font style="vertical-align: inherit;">You can pay securely.</font></font></p>
               
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If you have any questions, </font></font><a href="/tickets"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">do</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> n't hesitate to ask us.</font></font></p><p></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq4" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What is an API? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq4" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It is an interface that provides communication between programs known as Application Programming Interface. </font><font style="vertical-align: inherit;">With the help of our API document on our site, you can connect our API to your website and make sales. </font><font style="vertical-align: inherit;">For this you need to have simple programming knowledge. </font><font style="vertical-align: inherit;">If you are an SMM panel owner, you can contact our SMM provider and connect our API. </font><font style="vertical-align: inherit;">We do not provide technical support on API connections.</font></font></p>
                     
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq5" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">My Followers Are Falling What Should I Do? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq5" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The followers we send to your accounts are entirely of personal accounts, and the sent accounts have the freedom to unsubscribe. </font><font style="vertical-align: inherit;">If we give an example; </font><font style="vertical-align: inherit;">How do you not want to follow people you do not know? In this case, the followers are withdrawing the follow-up because they do not know you. </font><font style="vertical-align: inherit;">As for bot followers, the situation is completely different. Since they are in-active accounts, Instagram becomes aware of these accounts after a while and removes the accounts from the Instagram or approves them, which is reflected to you as a decrease. </font><font style="vertical-align: inherit;">Our panel does not guarantee any of the bot followers received and stated this clearly in the contract.</font></font></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq6" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">My order was partially completed and the rest was returned. What should I do? </font></font><i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq6" class="collapse" style="">
                    <div class="card-body">
                      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The unfinished part of your orders, some of which are completed, is returned automatically. </font><font style="vertical-align: inherit;">In this case, we recommend that you order again. </font><font style="vertical-align: inherit;">When there is spam filtering by the system or the providers, there may be missing submissions, you can try again the other day or you can choose different services. </font><font style="vertical-align: inherit;">In general, the reason for the completion of the deficiency is due to the server's inability to send as much as the amount you have received at the moment, and some of our services are sending incompletely, this varies depending on the cost.</font></font></p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% include 'footer.twig' %}
